@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
	box-sizing: border-box;
	transition: 1s;
}

:root {
	--dark: rgb(31, 31, 31);
	--light: rgb(243, 243, 243);
}

body {
	background-color: var(--light);
	font-family: 'Heebo', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.switcher {
	height: 4rem;
	width: 4rem;
	position: absolute;
	border-radius: 50%;
	top: 15%;
	border: 0.9rem solid var(--dark);
	background-color: rgba(255, 255, 255, 0);
	z-index: 3;
}

.switcher:hover {
	cursor: pointer;
}

.moonmain {
	height: 2.5rem;
	width: 2.5rem;
	background-color: var(--dark);
	border: 0.2rem solid white;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.moonsec {
	height: 1.8rem;
	width: 1.8rem;
	border: 0.2rem solid var(--light);
	background-color: var(--dark);
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	left: 75%;
	top: 20%;
	transform: translateX(-50%) translateY(-50%);
	transition: 1s;
}

.displaced {
	left: 140%;
	top: -45%;
	height: 1.2rem;
	width: 1.2rem;
}

.moonborder {
	height: 4.3rem;
	width: 4.3rem;
	position: absolute;
	border-radius: 50%;
	border: 0.9rem solid black;
	background-color: rgba(255, 255, 255, 0);
	z-index: 3;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.clock {
	height: 15rem;
	width: 15rem;
	/* background-color: rgb(226, 226, 226); */
	position: relative;
}

.center {
	width: 14px;
	height: 14px;
	background-color: var(--dark);
	border: 4px solid rgb(0, 190, 133);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translateX(-35%) translateY(-50%);
}

.hourshand {
	background-color: var(--dark);
	width: 4px;
	height: 110px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: top;
	transform: rotate(0deg);
}

.minuteshand {
	background-color: var(--dark);
	width: 4px;
	height: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: top;
	transform: rotate(-90deg);
}

.secondshand {
	background-color: rgb(0, 190, 133);
	width: 4px;
	height: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: top;
	transform: rotate(-180deg);
}

.digital {
	position: absolute;
	top: 72%;
	font-size: 2.8rem;
	color: var(--dark);
}

.date {
	position: absolute;
	top: 79%;
	font-size: 1rem;
	text-transform: uppercase;
	color: rgb(0, 190, 133);
	font-weight: bold;
}
